#!/usr/bin/env python3

# PetroDE Control script
#   It does stuff(TM)
#
# A script to build Docker images, compile code, run tests, be friendly to
# developers, enable local development, check in build configuration next to
# code, kiss babies, and be popular.
#
# We really don't expect much of it. /s

# Usage: ./control [COMMAND] [OPTIONS]
#
# COMMANDS:
#   build           Build the image specified by the Dockerfile
#
# OPTIONS:
#   -f, --force     Force the creation of the tag
#       --no-cache  Disallow the use of the cache (included in -f)

import json
import docker
docker = docker.Client(base_url='unix://var/run/docker.sock')

for line in (json.loads(l.decode('utf-8').strip()) for l in docker.build(path='.',
        tag='iojs-base:4',
        nocache=False,
        rm=True,
        pull=True,
        dockerfile='Dockerfile.prod')):
    if 'stream' in line.keys():
        print(line['stream'].strip())

